<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" id="WebApp_ID" version="2.5">
  <display-name>Partyshop</display-name>
  <welcome-file-list>
    <welcome-file>index</welcome-file>
  </welcome-file-list>
  <servlet>
    <description></description>
    <display-name>IndexServlet</display-name>
    <servlet-name>IndexServlet</servlet-name>
    <servlet-class>servlets.IndexServlet</servlet-class>
  </servlet>
  <servlet>
    <description></description>
    <display-name>LoginServlet</display-name>
    <servlet-name>LoginServlet</servlet-name>
    <servlet-class>servlets.IndexServlet</servlet-class>
  </servlet>
  <servlet>
    <description></description>
    <display-name>RegistrierungServlet</display-name>
    <servlet-name>RegistrierungServlet</servlet-name>
    <servlet-class>servlets.RegistrierungServlet</servlet-class>
  </servlet>
  <servlet>
    <description></description>
    <display-name>SuchServlet</display-name>
    <servlet-name>SuchServlet</servlet-name>
    <servlet-class>servlets.SuchServlet</servlet-class>
  </servlet>
  <servlet>
    <description></description>
    <display-name>KategorieServlet</display-name>
    <servlet-name>KategorieServlet</servlet-name>
    <servlet-class>servlets.KategorieServlet</servlet-class>
  </servlet>
  <servlet>
    <description></description>
    <display-name>ArtikelServlet</display-name>
    <servlet-name>ArtikelServlet</servlet-name>
    <servlet-class>servlets.ArtikelServlet</servlet-class>
  </servlet>
  <servlet>
    <description></description>
    <display-name>InWarenkorbLegenServlet</display-name>
    <servlet-name>InWarenkorbLegenServlet</servlet-name>
    <servlet-class>servlets.InWarenkorbLegenServlet</servlet-class>
  </servlet>
</web-app>
