
/*
    Document   : index
    Created on : 04.10.2016
    Author     : Leon
*/

@media screen and (max-width: 1050px) 
{
	header
	{
		min-width: 1050px;
	}
	body
	{
		min-width: 1050px;
	}
}

@media screen and (max-device-width: 1000px)
{
	div.categories
	{
		display: none;
	}
	div.content2
	{
		float: left;
	}
	body
	{
		min-width: 1000px;
		max-width: 1000px;
	}
	header
	{
		min-width: 1000px;
		max-width: 1000px;
	}
}


/* Header */
header
{
	height: 100px;
	background-color: Bisque;
	margin: -8px -8px 0px -8px;
	padding: 5px;
	display: flex;
}



div.header-logo
{
	height: 90px;
	float: left;
	margin-right: 10px;
	width: 180px;
}

div.searchbar 
{
	height: 30px;
	width: 60%;
	min-width: 300px;
	float: left;
	margin-top: 45px;
	border-style: solid;
	border-width: 0px;
	border-radius: 5px 0px 0px 5px;
	min-width: 100px;
		
	
}
div.searchlogo
{
	position: relative;
	left: 0;
	height: 25px;
	width: 37px;
	padding: 5px;
	float: left;
	margin-top: 45px;
	background: blue;
	border-style: solid;
	border-width: 0px;
	border-radius: 0px 5px 5px 0px;
	min-width: 37px;
}

/* Buttons rechts im Header */
div.headerlist
{
	width: 20%;
	margin-left: auto;
	min-width: 375px;
	margin-top: 35px;

}
ul.header {
	width: 100%;
    	list-style-type: none;
	margin-left: 0px;
    	margin-top: 0px;
    	margin-right: 0px;
    	padding: 0;
    	overflow: hidden;
}	

li.header {
    	float: left;
}

li.header a {
    	display: block;
    	color: black;
    	text-align: center;
    	padding: 15px 15px;
    	text-decoration: none;
}
li.header a:hover:not(.active) {
    	background-color: AntiqueWhite;
}

.active {
	background-color: BurlyWood;
}

img.logo
{
	width: 150px;
	height: auto;
	margin-top: -5px;
	margin-left: 5px;
}

input.searchlogo
{
	height: 20px;
	margin-left: 8px;
}

form.searchbar
{
	margin-top: -60px;
}
input.searchbar
{
	width: 100%;
	height: 30px;
	border-radius: 5px 0px 0px 5px;
}
/* Header end */

/* Content */

div.content
{
	max-width: 1500px;
	min-width: 1000px;
	width: auto;
	margin: auto;
	display: block;
}

/* Kategorie Leiste */
div.categories
{
	width: 15%;
	float: left;
}
ul.categories 
{
	width: 100%;
    list-style-type: none;
    margin: 0px;
    padding: 0;
    background-color: #f1f1f1;
}

li.categories a 
{
    	display: block;
    	color: #000;
   	padding: 8px 16px;
    	text-decoration: none;
}

li.categories a.title 
{
    font-size: 20px;
    color: black;
}

li.categories a:hover:not(.active) {
    background-color: #555;
    color: white;
}

/* Artikel auf der Startseite */
div.content2
{
	position: relative;
	width: 80%;
	height: 100%;
	margin: auto;
	display: block;
	margin-bottom: 30px;
	max-width: 900px;
	float: left;
	
}
div.articles
{
	width: 100%;
	background-color: white;
	height: 380px;
	max-width: 800px;
	float: right;
}
div.article1 
{
		float: left;
    	margin-right: 5px;
    	margin-bottom: 10px;
}

div.article1:hover 
{
    
}

div.article1 img 
{
	height: 250px;
	width: 250px;
}

div.desc 
{
    padding: 15px;
    text-align: center;

}
h1.article
{
	font-size: 30px;
	font-weight: bold;
}
/* Artikel Ende */

/* Footer */

