header.standard 
{
	height: 100px;
	background-color: gold;
	margin: -8px -8px 0px -8px;
	display: block;
}
div.header-logo 
{
	height: 90px;
	float: left;
	margin-right: 10px;
	width: 180px;
}

div.headerlogo 
{
	float: left;
	width: 100px;
	margin-left: 10px;
}

img.logo 
{
	width: 150px;
	height: auto;
	margin-top: -5px;
	margin-left: 5px;
}

div.logo
{
	margin: auto;
	width: 300px;
}
div.logo img
{
	width: 300px;
	height: auto;
}
div.full
{
	margin: auto;
	border-radius: 5px 5px 5px 5px;
	border: 1px solid #ccc;
	width: 1000px;
	height: 500px;
}
div.half
{
	margin-left: 2%;
	float: left;
	width: 450px;
}
div.half2
{
	float:right;
	width: 450px;
}
div.headline
{
	float: left;
	text-align: center;
	width: 100%;
	margin-bottom: 25px;
}
span.headline
{
	font-size: 20px;
}
span.errmsg
{
	color: red;
}
div.element
{
	float: left;
	margin-bottom: 10px;
	width: 100%;
}
input[type=submit]
{
	display:block;
	width: 100px;
	height: 30px;
	background-color: gold;
	color: white;
	border: solid 0px;
}
input[type=text]
{
	float: left;
	width: 200px;
}
input[type=password]
{
	float: left;
	width: 200px;
}
div.text
{
	float: left;
	width: 100px;
}
@media screen and (max-device-width: 800px) 
{
	div.full
	{
		height: auto;
		float: left;
		max-width: 980px;
		min-width: 980px;
	}
	div.half
	{
		min-width: 100%;
	}	
	div.half2
	{
		float: left;
		min-width: 100%;
		margin-left: 2%;
	}	
	div.text
	{
		min-width: 400px;
		font-size: 25px;
	}
	input[type=text]
	{
		min-width: 80%;
		height: 50px;
		border: 1px solid #ccc;
		font-size: 25px;
	}
	input[type=password]
	{
		font-size: 25px;
		min-width: 80%;
		height: 50px;
		border: 1px solid #ccc;
	}
	input[type=submit]
	{
		width: 300px;
		height: 50px;
		font-size: 25px;
	}
	span.headline
	{
		font-size: 30px;
		float: left;
		font-weight: bold;
	}
	div.logo
	{
		float: left;
	}
	span.errmsg
	{
		font-size: 25px;
	}
}