/*
    Document   : warenkorb.css
    Created on : 06.11.2016
    Author     : Leon
*/
@media screen and (max-width: 1070px) 
{
	header 
	{
		min-width: 1070px;
	}
	body 
	{
		min-width: 1070px;
	}
}


/*Desktop */

/*Header */
header.standard 
{
	height: 100px;
	background-color: gold;
	margin: -8px -8px 0px -8px;
	display: block;
}
div.header-logo 
{
	height: 90px;
	float: left;
	margin-right: 10px;
	width: 180px;
}
/*Suchleiste +button*/
div.search
{
	width: 57%;
	float: left;
	margin-top: 45px;
}
div.searchbar 
{
	position: relative;
	height: 30px;
	width: 90%;
	float: left;
	border-style: solid;
	border-width: 0px;
	border-radius: 5px 0px 0px 5px;
}
div.searchlogo 
{
	float: left;
	height: 25px;
	width: 37px;
	padding: 5px;
	background: blue;
	border-style: solid;
	border-width: 0px;
	border-radius: 0px 5px 5px 0px;
}

/* Logos rechts im Header für Login und Warenkorb */
div.headerlogos 
{
	width: 250px;
	margin-top: 25px;
	float: right;
}
div.headerlogo 
{
	float: left;
	width: 100px;
	margin-left: 10px;
}
div.headerlogo a.user
{
	margin: auto;
	display: block;
	width: 40px;
	height: 45px;
	background: url(/Partyshop/resources/images/user.png) no-repeat;
	background-position: center;
	background-size: 100%;
}
div.headerlogo a.cart 
{
	margin: auto;
	display: block;
	width: 50px;
	height: 45px;
	background: url(/Partyshop/resources/images/cart.png) no-repeat;
	background-position: center;
	background-size: 100%;
}
div.headerdesc
{
	width: 100%;
	text-align: center;
}
span.headerdesc
{
	font-size: 20px;
}
div.dropdownelement
{
	width: 100%;
	margin-bottom: 5px;
}
div.dropdownelement a
{
	color: black;
}

#account:hover div.dropdown
{
	display: block;
	
}
img.logo 
{
	width: 150px;
	height: auto;
	margin-top: -5px;
	margin-left: 5px;
}
input.searchlogo 
{
	height: 100%;
	width: 100%;
	background: url(/Partyshop/resources/images/lupe.png) no-repeat;
	background-position: center;
	background-size: 70%;
	border: solid 0px;
}
form.searchbar 
{
	margin-top: -60px;
}
input.searchbar 
{
	width: 100%;
	height: 30px;
	border-radius: 5px 0px 0px 5px;
	outline: 0;	
}
/* Content */
div.content 
{
	width: 100%;
	
}
div.main
{
	display: block;
	float: left;
}
div.articles 
{
	width: 100%;
	background-color: white;
	float: left;
	display: block;
	min-width: 793px;
}
div.headlines
{
	width: 100%;
	float: left;
	margin-bottom: 10px;
	border-bottom: solid 1px #ccc;
}
div.headline-articlename
{
	float: left;
	width: 40%;
	margin-right: 15px;
}
div.headline-price
{
	float: left;
	width: 60px;
}
div.headline-amount
{
	float: right;
	width: 5%;
	min-width: 60px;
}

div.lineitem
{
	width: 100%;
	float: left;
	margin-bottom: 10px;
	height: 250px;
	border-bottom: solid 1px #ccc;
	display: block;
}
div.lineitem-img
{
	width: 300px;
	height: 100%;
	float: left;
}
div.lineitem-img img 
{
	height: 250px;
	width: 250px;
	float: left;
}
div.lineitem-articlename
{
	float: left;
	width: 40%;
	margin-right: 15px;
}
span.articlename-bold
{
	font-size: 20px;
	font-weight: bold;
	color: black;
}
div.lineitem-price
{
	float: left;
	width: 60px;
}
span.price-bold
{
	font-size: 20px;
	font-weight: bold;
	color: black;
}
div.lineitem-amount
{
	float: right;
	width: 6%;
	height: 60px;
}
input.refresh
{
	background: url(/Partyshop/resources/images/refresh.png) no-repeat;
	background-position: center;
	background-size: 70%;
	border: solid 0px;
	margin-top: -6px;
}
input.trash
{
	float: left;
	height: 40px;
	width: 40px;
	background: url(/Partyshop/resources/images/trash.png) no-repeat;
	background-position: center;
	background-size: 70%;
	border: solid 0px;
	margin-top: 20px;
	margin-left: -10px;
}

div.lineitem-delete
{
	float: left;
	width: 50%;
}
div.order
{
	float: right;
	width: 24%;
	max-width: 250px;
	background-color: #ccc;
	margin-left: 25px;
	margin-right: -5px;
	padding-left: 20px;
	border-width: 0px;
	border-radius: 5px 5px 5px 5px;
}
div.order2
{
	width: 100%;
}

input.order-button
{
	text-align: center;
	width: 80%;
	height: 50px;
	background-color: yellow;
	margin-bottom: 20px;
	margin-top: 20px;
	line-height: 50px;
	font-size: 20px;
	border: solid 1px #646464;
}
/* Mobile */
@media screen and (min-device-width: 801px)
{
	div.header-logo-mobile
	{
		display: none;
	}
	div.wrap
	{
		width: 100%;
		display: flex;
	}
	div.dropdown
	{
		z-index: 10;
		display: none;
		width: 250px;
		border: solid 1px #ccc;
		border-radius: 1px;
		background-color: lightgray;
		padding: 5px;
		position: absolute;
		right: 0px;
		top: 90px;
	}	
	span.price
	{
		font-size: 20px;
		color: black;
	}
	span.articlename
	{
		font-size: 20px;
		color:black;
	}	
	div.main
	{
		width: 70%;
	}
	div-lineitem-articlename
	{
		height: 75px;
	}
	div-lineitem-price
	{
		height: 75px;
	}
	div.lineitem-amount
	{
		min-width: 64px;
	}
	input.refresh
	{
		float: right;
		height: 30px;
		width: 30px;
	}
	div.lineitem input[type=number]
	{
		width: 30px;
	}
	span.sum
	{
		font-size: 22px;
	}
	span.articles
	{
		font-size: 22px;
	}
	
}
@media screen and (max-device-width: 800px) 
{
	body 
	{
		min-width: 1000px;
	}

	/* Größerer Header für mobile Version */
	header.standard 
	{
		min-width: 1010px;
		max-width: 1010px;
		min-height: 250px;
	}
	div.header-logo
	{
		display: none;
	}
	div.header-logo-mobile
	{
		display: block;
		width: 300px;
		height: 100px;
		float: left;
	}
	div.header-logo-mobile img
	{
		width: 100%;
		height: 100%;
		padding-top: 20px;
	}
	div.headerlogos 
	{
		min-width: 200px;
	}
	div.headerlogo 
	{
		min-width: 80px;
	}
	div.headerlogo a.cart 
	{
		min-width: 80px;
		min-height: 80px;
	}
	div.headerlogo a.user
	{
		min-height: 75px;
		min-width: 75px;
	}
	div.headerdesc
	{
		display: none;
	}
	div.search 
	{
		min-width: 95%;
		margin-left: 1%;
		min-height: 40px;
	}
	
	
	div.searchbar
	{
		max-width: 85%;
		margin-right: auto;
		min-height: 100%;
		margin-top: -15px;
	}
	div.searchbar input 
	{
		min-height: 60px;
		font-size: 30px;
	}
	div.searchlogo 
	{
		margin-top: -14px;
		min-height: 54px;
		min-width: 50px;
	}
	input.searchlogo 
	{
		min-height: 30px;
	}
	div.dropdown
	{
		z-index: 10;
		display: none;
		width: 600px;
		border: solid 1px #ccc;
		border-radius: 1px;
		background-color: white;
		padding: 5px;
		position: absolute;
		right: -30px;
		top: 120px;
	}	
	
	span.drop
	{
		font-size: 45px;
	}
	
	div.headlines
	{
		display: none;
	}
	div.main
	{
		width: 100%;
	}
	div.articles 
	{
		min-width: 100%;
		min-height: 500px;
	}
	div.lineitem
	{
		min-width: 100%;
		min-height: 450px;
	}
	div.lineitem-img
	{
		min-width: 450px;
		max-width: 450px;
		min-height: 450px;
		margin-right: 15px;
	}
	div.lineitem-img img 
	{
		min-height: 450px;
		min-width: 450px;
	}
	div.lineitem-articlename
	{
		min-width: 52%;
	}
	div.lineitem-price
	{
		min-width: 52%;
	}
	div.lineitem-amount
	{
		min-width: 52%;
		float: left;
		margin-top: 15px;
		min-height: 70px;
	}
	input.refresh
	{
		float: left;
		height: 75px;
		width: 75px;
	}
	div.lineitem input[type=number]
	{
		width: 60px;
		height: 60px;
		font-size: 40px;
		float: left;
		border: 1px solid;
	}
	div.lineitem-delete
	{
		min-width: 52%;
		margin-top: 15px;
		margin-left: -4px;
	}
	input.trash
	{
		float: left;
		height: 75px;
		width: 75px;
	}
	div.order
	{
		float: left;
		min-width: 97%;
		margin: auto;
	}
	span.articlename
	{
		font-size: 35px;
		font-weight: bold;
		color: black;
	}
	span.price
	{
		font-size: 35px;
		font-weight: bold;
		color: gold;
	}
	span.sum
	{
		font-size: 42px;
	}
	span.articles
	{
		font-size: 42px;
	}
	input.order-button
	{
		
		height: 80px;		
		font-size: 35px;
	}
}

